body{
    margin: auto;
}

.container{
    position: static;
}

.col-sm-12 h2 {
    text-align: center;
}

.col-sm-12 hr {
    width: 50%;
}

.form-group {
    position: relative;
    left: 35%;
    text-transform: capitalize;
    font-weight: bold;
}

input{
    width: 400px;
}

button {
    position: relative;
    top: -50px;
    margin-left: 35%;
    width: 70px;
    
}